:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 96px;
  font-weight: 700;
  font-size: clamp(3rem, 5vw, 5rem);
}
header {
  background-color: var(--primary-color);
}
footer .socials-link {
  font-size: 20px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px 13px;
  border-radius: 50%;
}
main h2 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 18px;
}
main h1 {
  font-size: 64px;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--secondary-color);
  font-weight: 600;
}
.shecodes-logo {
  max-width: 150px;
}
.navbar-nav .nav-link.active {
  color: var(--secondary-color) !important;
  font-weight: bold;
}
.hero {
  background-color: var(--primary-color);
  padding: 110px;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
}
.btn-branding {
  display: block;
  margin: 35px auto;
  background-color: var(--secondary-color);
  color: white;
  border: 2px solid var(--secondary-color);
  padding: 18px 20px;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  max-width: 200px;
}
.btn-branding:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.btn-branding-border {
  display: block;
  margin: 0 auto;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  padding: 16px;
  max-width: 200px;
}
.btn-branding-border:hover {
  color: white;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
.projects-title {
  font-size: clamp(2rem, 5vw, 3rem);
}
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.work-inq-container {
  background-color: var(--primary-color);
  border-radius: 20px;
  margin: 50px;
}
.work-inq-container h3 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 700;
}

.inquiry-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  padding: 15px 0;
  max-width: 200px;
}
.footer-email {
  font-size: 24px;
  text-decoration: none;
  color: black;
}
.aboutme-container {
  margin: 40px;
}
.work-title-container {
  font-size: 64px;
  max-width: 750px;
}
.workpg-titles {
  font-size: 24px;
  font-weight: bold;
}
.project-image {
  border-radius: 15px;
}
.contact-page-hero {
  margin: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.contact-socials-icons {
  font-size: 30px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px 13px;
  border-radius: 50%;
}
.social-links-container p {
  margin-top: 8px;
}
.social-links-container p a {
  text-decoration: none;
  color: var(--secondary-color);
}
.developer-credit {
  font-size: 12px;
}
.developer-credit-link {
  text-decoration: none;
  font-size: 12px;
  color: var(--secondary-color);
}
@media (max-width: 600px) {
  .hero {
    padding-inline: 10px;
  }
  .hero p {
    font-size: 24px;
  }
  .hero h2 {
    font-size: 15px;
  }
  .aboutme-container {
    margin: 5px;
  }
  h1 {
    font-size: 40px;
  }
}
